.search-bar {
  position: relative;
  margin-bottom: 30px;
}

input {
  width: 585px;
  height: 45px;
  padding-left: 25px;
  box-sizing: border-box;
  border: none;
  border-radius: 40px;
  font-size: 17px;
}

input:focus {
  outline: none;
}

.search-bar input::placeholder {
  font-size: 15px;
}

.search-btn {
  font-size: 23px;
  opacity: 0.7;
  background: none;
  border: none;
  position: absolute;
  right: 20px;
  top: 7px;
  cursor: pointer;
}

.search-btn img {
  width: 25px;
  height: 25px;
}
