.weather {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 30px;
}

.weather__text {
  margin-left: 15px;
  font-size: 1.5em;
}

.weather-state__icon {
  font-size: 2em;
}

.weather-state {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wather-state__text {
  margin-top: 5px;
  font-size: 1.2em;
}
